
*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
     background-color: black; 
     overflow-x: hidden;
    
}   

[data-scroll-container] {
  will-change: transform;
}

/* #minicircle{
    width: 30px;
    height: 30px;
    position: absolute; */
    #minicircle {
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white; /* or any color */
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference; /* optional: for fancy effect on dark backgrounds */
}

.bounding{
    width: fit-content;
    overflow: hidden;
    
}
.bounding .boundingelem{
    transform: translateY(100%);
}


#main {
  width: 100%;
  background-color: black;
}

#hero {
    color: #fff;
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 2vw;
  position: relative; 
}

#nav {
    display: flex ;
    align-items: center;
    justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  color: white;
}

#nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

#nav h2 {
  font-weight: 400;
  cursor: pointer;
}

#heading {
   margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    opacity: 0.6;
    line-height: 1;
    font-family: "General Sans";
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;


}
#heading #secondh1 {
    margin-left: 190px;
    

}
.blocktext {
    display: flex;
    flex-direction : column;
    align-items: end;

    width: fit-content;
    
}
.blocktext h5{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}

#chotiheadings {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 30px;
}
#chotiheadings h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: .5vw;
}
#herofather {
    padding:0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofather a{
      color: white;
      text-decoration: none;
      text-transform: uppercase;
       font-size: 0.9vw;
    margin-right: 1vw;
}
#herofather #iconset{
    display: flex;
}


#herofather .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius:50% ;
    background-color: #888;
}

#second{
    color: #fff;
    padding-right: 10vw;
    /* padding-top: 200px; */
    background-color: black;
    width: 100%;
    /* height: 100vh; */
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0%;
    border-top: 1px solid #888;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;
}
.elem .last{
    border-bottom: 1px solid #888;
}
.elem img{
    height: 100%;
    opacity: 0;
    display: block;
    z-index: 999;
    position: absolute;
    pointer-events: none;
}
#about{
    width: 100%;
    background-color: black;
    padding: 10vw 10vw;
    padding-left: 40vw;
    color: white;
    gap: 50px;
    
    display: flex;
    align-items: center;
}
#textabout{
    width: 25rem;
    
}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#about img{
    width: 200px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img{
    width: 200px;
}

#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    text-decoration: none ;
}

#subscribe{
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;

}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;

}
#footer {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footerright {
    display: flex;
    gap: 30px;
}

#footer a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}